# Port selection (Render auto-populates this, but defaults to 3000)
PORT=3000

# Secure Administrator Portal Credentials
# --------------------------------------
ADMIN_EMAIL=admin@erainfra.com
ADMIN_PASSWORD=admin123

# Custom Firebase Service Account (JSON credential formatted as a raw string or base64)
# --------------------------------------------------------------------------------------
FIREBASE_SERVICE_ACCOUNT=
